.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;	
}

.icon-svg-arrow {
	font-size:(451.847/10)*1rem;
	width:(451.846/451.847)*1em;
}
.icon-svg-arrow-gallery {
	font-size:(477.18/10)*1rem;
	width:(477.18/477.18)*1em;
}
.icon-svg-basket {
	font-size:(2000/10)*1rem;
	width:(2000/2000)*1em;
}
.icon-svg-cold {
	font-size:(219.78/10)*1rem;
	width:(219.78/219.78)*1em;
}
.icon-svg-crown {
	font-size:(128/10)*1rem;
	width:(128/128)*1em;
}
.icon-svg-degree {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-svg-instagram {
	font-size:(169.063/10)*1rem;
	width:(169.063/169.063)*1em;
}
.icon-svg-needle {
	font-size:(446.76/10)*1rem;
	width:(446.76/446.76)*1em;
}
.icon-svg-phone {
	font-size:(578.11/10)*1rem;
	width:(578.11/578.11)*1em;
}
.icon-svg-search {
	font-size:(56.97/10)*1rem;
	width:(56.97/56.97)*1em;
}
.icon-svg-vkontakte {
	font-size:(548.358/10)*1rem;
	width:(548.358/548.358)*1em;
}
.icon-svg-youtube {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
