.catalog {
    .title {
        padding-bottom: 20px;
    }
}

.menu {
    display: block;
    background-color: $red-dark;
    padding: 15px 0;
    a {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: $white;
        display: block;
        padding: 12px 0;
    }
}

.submenu {
    display: block;
    background-color: $white;
    padding: 15px 0;
    a {
        font-size: 14px;
        color: $grey-light;
        display: block;
        padding: 8px 0;
        &.active {
            color: $grey-dark;
        }
    }
}

.filters {
    background-color: $white;
    &-header {
        background-color: $red-dark;
        padding: 22px 0;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        span {
            color: $white;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        button {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 12px;
            border: none;
            background-color: transparent;
            span {
                display: block;
                width: 18px;
                height: 2px;
                background-color: $white;
                &:nth-child(2) {
                    width: 14px;
                }
                &:nth-child(3) {
                    width: 10px;
                }
            }
        }
    }
    &-content {
        transition-duration: 0.5s;
        overflow: hidden;
        max-height: 0;
        .container {
            padding-top: 15px;
            padding-bottom: 9px;
        }
    }
}

.filter {
    margin-bottom: 9px;
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 32px;
        border: 1px solid $grey-lightest-second;
        padding: 0 10px;
        span {
            font-size: 12px;
            color: $grey-dark;
        }
        svg {
            width: 5px;
            height: 5px;
            fill: $red-dark;
            transform: rotate(90deg);
        }
    }
    &-collapse {
        max-height: 0;
        overflow: hidden;
        transition-duration: 0.3s;
    }
    &-content {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        border: 1px solid $grey-lightest-second;
        border-top: none;
    }
    &-item {
        display: block;
        font-size: 12px;
        color: $grey-dark;
        padding: 6px 0;
        &:first-child {
            padding-top: 5px;
        }
        &:last-child {
            padding-bottom: 5px;
        }
        &.active {
            color: $red-dark;
        }
    }
}

.products-catalog {
    padding-top: 17px;
    padding-bottom: 45px;
    .product {
        margin-bottom: 10px;
    }
}

.products-filter {
    display: block;
}

@media #{$sr-580} {

    .products-catalog {
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        .product {
            width: calc(100% / 2 - 5px);
            margin-right: 10px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media #{$sr-992} {

    .catalog {
        .title {
            padding-bottom: 0;
            margin-bottom: 30px;
        }
    }

    .products-catalog {
        .product {
            width: calc(100% / 3 - 14px);
            margin-right: 20px;
            margin-bottom: 20px;
            &:nth-child(2n) {
                margin-right: 20px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    .menu {
        display: block;
        background-color: transparent;
        padding: 0;
        .container {
            max-width: calc(992px - 40px);
            padding: 15px 30px;
            background-color: $red-dark;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        a {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .submenu {
        display: block;
        background-color: transparent;
        padding: 0;
        .container {
            max-width: calc(992px - 40px);
            background-color: $white;
            padding: 15px 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        a {
            display: flex;
            align-items: center;
            padding: 12px 0;
            &:not(:last-child) {
                &:after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background-color: $grey-light;
                    margin: 0 10px;
                }
            }
        }
    }

    .filters {
        background-color: transparent;
        &-header {
            display: none;
        }
        &-content {
            padding-top: 14px;
            overflow: visible;
            max-height: none;
            .container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        }
    }

    .filter {
        position: relative;
        margin: 0;
        margin-right: 6px;
        margin-bottom: 6px;
        width: calc((100% / 5) - 5px);
        &.active {
            z-index: z('dwopdown');
        }
        &:nth-child(5n) {
            margin-right: 0;
        }
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 6px;
        }
        &-header {
            cursor: pointer;
        }
        &-item {
            cursor: pointer;
            transition-duration: 0.3s;
            &:hover {
                color: $red-dark;
            }
        }
        &-collapse {
            position: absolute;
            left: 0;
            top: 31px;
            right: 0;
            z-index: z('dwopdown');
            max-height: 0;
            transition-duration: 0.2s;
        }
        &-content {
            border-top: 1px solid $grey-lightest-second;
            background-color: $white;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    .products-catalog {
        padding-top: 35px;
    }
}

@media #{$sr-1300} {

     .menu {
        .container {
            max-width: calc(1300px - 40px);
            padding: 12px 50px;
        }
        a {
            margin-right: 50px;
        }
    }

    .submenu {
        .container {
            max-width: calc(1300px - 40px);
            padding: 12px 50px;
        }
        a {
            &:not(:last-child) {
                &:after {
                    margin: 0 15px;
                }
            }
        }
    }

    .filters {
        &-content {
            padding-top: 0;
            .container {
                padding-bottom: 0;
            }
        }
    }

    .filter {
        position: relative;
        margin: 0;
        margin-right: 0.92%;
        margin-bottom: 10px;
        width: calc((100% / 7) - 10px);
        &:nth-child(5n) {
            margin-right: 0.92%;
        }
        &:nth-child(7n) {
            margin-right: 0;
        }
        &:last-child {
            margin-bottom: 10px;
        }
    }

    .products-catalog {
        padding-top: 5px;
        .product {
            transition-duration: 0.2s;
        }
        &.productsthree {
            .product {
                width: calc(100% / 3 - 14px);
                min-height: 590px;
                margin-right: 20px;
                &-photo {
                    height: 541px;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
        &.productsfour {
            .product {
                width: calc(100% / 4 - 15px);
                margin-right: 20px;
                &:nth-child(3n) {
                    margin-right: 20px;
                }
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }
    }

    .products-filter {
        width: 100%;
        .container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &-four {
            display: flex;
            align-items: center;
            padding: 10px;
            padding-right: 7px;
            cursor: pointer;
            &.active {
                span {
                    &:after, &:before {
                        background-color: $red-dark
                    }
                }
            }
            span {
                display: flex;
                align-items: center;
                &:after, &:before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 10px;
                    background-color: $grey-light;
                    margin-right: 1px;
                    transition-duration: 0.5s;
                }
            }
        }
        &-three {
            display: flex;
            align-items: center;
            padding: 10px;
            padding-right: 0;
            padding-left: 7px;
            cursor: pointer;
            &.active {
                span {
                    &:after, &:before {
                        background-color: $red-dark
                    }
                }
            }
            span {
                display: flex;
                align-items: center;
                &:after, &:before {
                    content: '';
                    display: block;
                    width: 7px;
                    height: 10px;
                    background-color: $grey-light;
                    margin-right: 1px;
                    transition-duration: 0.5s;
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}