.advantage {
    display: flex;
    flex-direction: column;
    width: calc((100% / 2) - 15px);
    margin-bottom: 35px;
    &-frame {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 56px;
        height: 56px;
        background-color: $white-lightest;
        border-radius: 8px;
        margin-bottom: 25px;
        svg {
            width: 32px;
            height: 32px;
            fill: $red;
        }
    }
    &-caption {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: $white;
    }
    &-description {
        display: none;
    }
}

@media #{$sr-480} {

    .advantage {
        width: calc((100% / 3) - 15px);
    }
}

@media #{$sr-640} {

    .advantage {
        width: calc((100% / 3) - 50px);
    }
}

@media #{$sr-768} {

    .advantage {
        width: calc((100% / 2) - 50px);
        &-description {
            display: block;
            color: $grey-lighten-other;
            font-size: 13px;
            line-height: 21px;
            padding-top: 20px;
        }
    }
}

@media #{$sr-1300} {

    .advantage {
        width: calc((100% / 3) - 50px);
        margin-bottom: 60px;
    }
}