.breadcrumb {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 28px;
    &-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $grey-light;
        line-height: 18px;
        &:not(.active) {
            &:after {
                content: '';
                display: block;
                width: 12px;
                height: 1px;
                background-color: $grey-light;
                margin: 0 8px;
            }
        }
        a {
            color: $red;
        }
    }
}

@media #{$sr-768} {

    .breadcrumb {
        justify-content: flex-start;
    }
}

@media #{$sr-1300} {

    .breadcrumb {
        padding-bottom: 22px;
    }
}