.develop {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-frame {
        display: block;
        width: 38px;
        height: 38px;
        margin-bottom: 20px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    &-caption {
        color: $grey-lighten;
        span {
            color: $white;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

@media #{$sr-580} {

    .develop {
        flex-direction: row;
        &-frame {
            margin-bottom: 0;
            margin-right: 15px;
        }
    }
}