.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: z('modal');
    overflow: auto;
    padding: 40px 0;
    &.closemodal {
        display: block;
        visibility: hidden;
        opacity: 0;
        animation-name: closemodal;
        animation-duration: 0.3s;
        @keyframes closemodal {
            0% {
                visibility: visible;
                opacity: 1;
            }
            100% {
                visibility: visible;
                opacity: 0;
            }
        }
    }
    &.showmodal {
        display: block;
        visibility: visible;
        opacity: 1;
        animation-name: showmodal;
        animation-duration: 0.3s;
        @keyframes showmodal {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    &-container {
        max-width: 1095px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white-light;
    }
    &-close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51px;
        height: 55px;
        background-color: $white;
        z-index: z('modal');
        &:after, &:before {
            content: "";
            display: block;
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: $red-dark;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
    &-body {
        display: flex;
        align-items: flex-start;
        padding: 50px 110px 55px 70px;
    }
}