.navbar {
    display: block;
    background-color: $white;
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 12px 15px;
        border-bottom: 1px solid $white-darken;
        color: $grey-dark;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        transition-duration: 0.5s;
        &-arrow {
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $grey-lighten;
            transition-duration: 0.5s;
            background-color: $white;
            svg {
                fill: $red;
                width: 5px;
                height: 5px;
                transform: rotate(90deg);
            }
        }
    }
    &-group {
        padding-top: 30px;
        &:first-child {
            padding-top: 10px;
        }
    }
    &-subtitle {
        display: block;
        width: 100%;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        padding-bottom: 5px;
        color: $grey-dark;
    }
    &-content {
        padding-top: 20px;
        padding-bottom: 20px;
        a {
            display: block;
            width: 100%;
            font-size: 13px;
            color: $grey-dark;
            text-transform: none;
            font-weight: 400;
            padding: 6px 0;
            &.active {
                color: $red;
            }
        }
    }
    &-collapse {
        width: 100%;
        transition-duration: 0.5s;
        max-height: 0;
        overflow: hidden;
    }
}

.activecategory {
    .navbar-item-arrow {
        transform: rotateX(180deg);
    }
}

@media #{$sr-992} {

    .navbar {
        z-index: z('fixed');
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-item {
            cursor: pointer;
            position: relative;
            width: auto;
            border: none;
            justify-content: flex-start;
            padding: 10px 20px;
            font-size: 14px;
            transition-duration: 0.5s;
            &-arrow {
                margin-left: 15px;
                background-color: transparent;
            }
        }
        &-collapse {
            cursor: default;
            display: block;
            width: auto;
            position: absolute;
            left: -10px;
            right: -50px;
            top: -36px;
            background-color: $white;
            max-height: none;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
        }
        &-content {
            transition-duration: 0.5s;
            padding: 94px 30px 50px;
        }
    }

    .activecategorydesctop {
        z-index: z('default');
        .navbar-item-arrow {
            transform: rotateX(180deg);
        }
    }

    .categoryback {
        .navbar-item {
            pointer-events: none;
        }
        .navbar-item:not(.activecategorydesctop) {
            opacity: 0.4;
            .navbar-item-arrow {
                border-color: transparent;
                svg {
                    fill: $grey;
                }
            }
        }
        .activecategorydesctop {
            pointer-events: visible;
        }
    }
}

@media #{$sr-1300} {

    .navbar {
        &-item {
            font-size: 16px;
        }
        &-content {
            a {
                transition-duration: 0.5s;
                &:hover {
                    color: $red;
                }
            }
        }
    }
}