.product {
    display: block;
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to top, #f2f4f7 0%, #ffffff 100%);
    min-height: 487px;
    overflow: hidden;
    &-status {
        position: absolute;
        top: 0;
        left: 0;
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 12px;
            min-width: 54px;
            margin-bottom: 1px;
            min-height: 25px;
            &.hit {
                color: $grey-dark;
                font-size: 11px;
                text-transform: uppercase;
                background-color: $yellow;
            }
            &.new {
                color: $white;
                font-size: 11px;
                text-transform: uppercase;
                background-color: $azure-dark;
            }
            &.discount {
                color: $white;
                background-color: $red-dark;
            }
        }
    }
    &-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 434px;
        overflow: hidden;
        img {
            @include object;
            object-fit: cover;
        }
    }
    &-main {
        &-desctop {
            display: none;
        }
        &-name {
            display: flex;
            align-items: center;
            color: $grey-dark;
            span {
                margin-left: 5px;
                color: $red-dark;
            }
        }
        &-bottom {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            min-height: 53px;
            display: flex;
            align-items: center;
            padding: 0 25px;
            background-color: $white;
        }
        &-subtitle {
            color: $grey-light;
            font-size: 0;
            margin-right: auto;
        }
        &-old {
            color: $grey-light;
            font-size: 11px;
            line-height: 14px;
            text-decoration: line-through;
            margin-right: 10px;
        }
        &-price {
            color: $grey-dark;
            text-transform: uppercase;
        }
    }
}

@media #{$sr-1300} {

    .product {
        transition-duration: 0.4s;
        &-main {
            &-name {
                position: relative;
                left: 0;
                transition-duration: 0.5s;
            }
            &-subtitle {
                transition-duration: 0.1s;
                font-size: 14px;
                max-width: 0;
                overflow: hidden;
                opacity: 0;
            }
            &-bottom {
                overflow: hidden;
            }
            &-desctop {
                display: block;
                position: absolute;
                visibility: hidden;
                opacity: 0;
                left: 0;
                right: 0;
                bottom: -150px;
                padding: 63px 25px 5px;
                background-color: $white;
                transition-duration: 0.4s;
                .product-main-name {
                    width: fit-content;
                    margin: 0 auto 20px;
                }
            }
            &-see {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $red;
                border: none;
                height: 43px;
                width: 100%;
                color: $white;
                font-size: 13px;
                transition-duration: 0.5s;
                &:hover {
                    background-color: $red-darken;
                }
            }
            &-item {
                font-size: 13px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 0;
            }
            &-property {
                color: $grey-light;
            }
            &-value {
                color: $red;
                margin-left: auto;
            }
            
        }
        &:hover {
            box-shadow: inset 0 30px 80px #f2f4f7, inset 0 -350px 150px #ffffff;
            .product-main {
                &-desctop {
                    visibility: visible;
                    opacity: 1;
                    bottom: 53px;
                }
            }
            .product-main-bottom {
                .product-main-name {
                    position: relative;
                    left: -112px;
                    opacity: 0;
                    max-width: 0;
                }
                .product-main-subtitle {
                    opacity: 1;
                    transition-delay: 0.2s;
                    transition-duration: 0.5s;
                    max-width: none;
                    overflow: visible;
                }
            }
        }
    }
}