.search {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: z('fixed');
    padding-top: 25px;
    padding-bottom: 30px;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.5s;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-input {
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: $grey;
        border: none;
        margin-bottom: 32px;
        padding: 0 15px;
        &::placeholder {
            font-size: 14px;
            color: $grey-light;
            font-weight: 600;
        }
    }
    &-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 146px;
        height: 49px;
        border: 1px solid $azure-dark;
        border-radius: 5px;
        background-color: transparent;
        font-size: 16px;
        color: $blue-dark;
    }
    &-close {
        display: none;
    }
}

.searchshow {
    .search {
        visibility: visible;
        opacity: 1;
    }
}

@media #{$sr-992} {

    .search {
        position: fixed;
        top: 0;
        padding: 0;
        display: flex;
        align-items: center;
        transition-duration: 0.3s;
        &-container {
            flex-direction: row;
            max-width: 992px;
            width: 100%;
            margin: 0 auto;
            padding: 52px 60px;
        }
        &-input {
            width: auto;
            flex: 1 0 auto;
            margin-bottom: 0;
            text-align: left;
            font-size: 22px;
            padding-left: 0;
            padding-right: 71px;
            &::placeholder {
                font-size: 22px;
            }
        }
        &-submit {
            margin-right: 45px;
        }
        &-close {
            display: block;
            width: 15px;
            height: 15px;
            position: relative;
            cursor: pointer;
            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 2px;
                background-color: $red;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}

@media #{$sr-1300} {

    .search {
        &-container {
            max-width: 1300px;
            padding: 52px 100px;
        }
        &-input {
            font-size: 26px;
            &::placeholder {
                font-size: 26px;
            }
        }
    }
}