.social {
    display: flex;
    align-items: center;
    justify-content: center;
    &-item {
        display: block;
        width: 26px;
        height: 26px;
        margin: 0 30px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        svg {
            width: 100%;
            height: 100%;
            fill: $white;
        }
    }
    &.social-main {
        padding-top: 30px;
        padding-bottom: 30px;
        .social-item {
            margin: 0 11%;
            svg {
                fill: $red;
            }
        }
    }
}

@media #{$sr-1300} {

    .social {
        &.social-main {
            padding: 0;
            border-top: 1px solid $white-light-other;
            .social-item {
                padding: 23px 0;
                height: auto;
                margin: 0;
                width: calc(1260px / 3);
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 1px solid $white-light-other;
                border-right: 1px solid $white-light-other;
                transition-duration: 0.5s;
                &:first-child {
                    border-right: none;
                }
                &:last-child {
                    border-left: none;
                }
                svg {
                    width: 26px;
                    height: 26px;
                    transition-duration: 0.5s;
                }
                &:hover {
                    background-color: $white-light-other;
                    svg {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}