<!--=include partials/header.html -->

<main>

    <div class="card">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Верхняя одежда</a></li>
                <li class="breadcrumb-item"><a href="#">Женская коллекция</a></li>
                <li class="breadcrumb-item"><a href="#">Clasna Зима 2019-2020</a></li>
                <li class="breadcrumb-item"><a href="#">Clasna Зима 2019-2020</a></li>
                <li class="breadcrumb-item active">CW19D-9433CW</li>
            </ol>
            <div class="card-content">
                <div class="see-header">
                    <span class="see-header-name">Куртка <span>2682</span></span>
                    <span class="see-header-status">В наличии</span>
                </div>
                <div class="products-arrows">
                    <div class="swiper-button-prev">
                        @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                    </div>
                    <span class="products-button-line"></span>
                    <div class="swiper-button-next">
                        @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                    </div>
                </div>
                <div class="card-main">
                    <div class="gallery">
                        <div class="swiper-container js-init-card">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <figure class="gallery-frame active">
                                        <img src="img/item-second.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <figure class="gallery-frame">
                                        <img src="img/item-first.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <figure class="gallery-frame">
                                        <img src="img/item-third.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <figure class="gallery-frame">
                                        <img src="img/item-fourth.png" alt="">
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <figure class="gallery-frame">
                                        <img src="img/item-fourth.png" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next js-card-next">
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="swiper-button-prev js-card-prev">
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                    </div>
                    <div class="see-main">
                        <div class="product-status">
                            <span class="product-status-item new">new</span>
                            <span class="product-status-item hit">хит</span>
                            <span class="product-status-item discount">-15%</span>
                        </div>
                        <figure class="see-main-frame">
                            <img src="img/item-second.png" alt="">
                        </figure>
                    </div>
                    <div class="see-content">
                        <div class="see-totat">
                            <span class="see-totat-old">2 200</span>
                            <span class="see-totat-price">1 870 Р</span>
                        </div>
                        <ul class="see-data">
                            <li class="see-data-item">
                                Длина<span>85</span>
                            </li>
                            <li class="see-data-item">
                                Фактура<span>Текстиль</span>
                            </li>
                            <li class="see-data-item">
                                Сезонность<span>Демисезонная</span>
                            </li>
                            <li class="see-data-item">
                                Размеры<span>XS  S  M  L  XL</span>
                            </li>
                            <li class="see-data-item">
                                Фактура<span>Текстиль</span>
                            </li>
                        </ul>
                        <div class="see-colors">
                            <span class="see-colors-caption">Выберите цвет</span>
                            <div class="see-colors-list">
                                <figure class="see-colors-frame">
                                    <img src="img/item-first.png" alt="">
                                </figure>
                                <figure class="see-colors-frame active">
                                    <img src="img/item-second.png" alt="">
                                </figure>
                                <figure class="see-colors-frame">
                                    <img src="img/item-third.png" alt="">
                                </figure>
                                <figure class="see-colors-frame">
                                    <img src="img/item-fourth.png" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="see-count">
                            <span class="see-colors-caption">Укажите количество товара</span>
                            <div class="see-count-group">
                                <span>Размер</span>
                                <input type="text" name="count" value="0">
                                <span>Для всех</span>
                            </div>
                        </div>
                        <div class="see-size">
                            <div class="see-size-group">
                                <span class="see-size-caption">42</span>
                                <div class="see-size-form">
                                    <input type="text">
                                    <span class="see-size-placeholder">0</span>
                                </div>
                            </div>
                            <div class="see-size-group">
                                <span class="see-size-caption">44</span>
                                <div class="see-size-form">
                                    <input type="text">
                                    <span class="see-size-placeholder">0</span>
                                </div>
                            </div>
                            <div class="see-size-group">
                                <span class="see-size-caption">46</span>
                                <div class="see-size-form">
                                    <input type="text">
                                    <span class="see-size-placeholder">0</span>
                                </div>
                            </div>
                            <div class="see-size-group">
                                <span class="see-size-caption">48</span>
                                <div class="see-size-form">
                                    <input type="text">
                                    <span class="see-size-placeholder">0</span>
                                </div>
                            </div>
                            <div class="see-size-group">
                                <span class="see-size-caption">50</span>
                                <div class="see-size-form">
                                    <input type="text">
                                    <span class="see-size-placeholder">0</span>
                                </div>
                            </div>
                            <div class="see-size-group">
                                <span class="see-size-caption">52</span>
                                <div class="see-size-form">
                                    <input type="text">
                                    <span class="see-size-placeholder">0</span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="search-submit">Купить</button>
                    </div>
                </div>
                <div class="card-description">
                    <strong>H2 / Clasna — это безупречное качество, великолепный дизайн, отвечающий последним веяньям моды, практичность</strong>
                    <p>Верхняя одежда Clasna предназначена для весны, осени и зимы, а спроектирована с учётом современных климатических условий нашей страны.
                    Обратите внимание, в нашем ассортименте присутствует весь набор верхней одежды последнего сезона! И всё это по самым выгодным ценам!</p>
                    <p>Мы постоянно расширяем объём наших предложений: добавляем яркие цвета тканей, так любимые молодёжью, для категории постарше — цвета интересные и игривые, не останавливаясь на чёрных и серых тонах; используем натуральный мех на любой вкус, а для защитников животных есть большой выбор моделей без меха и на тинсулейте, так же с каждым годом <a href="#">число моделей</a> в коллекциях у нас постоянно увеличивается, что может удовлетворить даже самых изысканных покупателей.</p>
                </div>
            </div>
        </div>
    </div>

    <section class="products">
        <div class="container">
            <h2 class="title">
                <span>Похожие товары</span>
            </h2>
            <div class="swiper-container js-init-products-third">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item discount">-15%</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-first.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item new">new</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-second.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item hit">хит</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-third.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <figure class="product-photo">
                                <img src="img/item-fourth.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item new">new</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-second.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item hit">хит</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-third.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <figure class="product-photo">
                                <img src="img/item-fourth.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-arrows">
                <div class="swiper-button-prev js-products-prev-third">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
                <span class="products-button-line"></span>
                <div class="swiper-button-next js-products-next-third">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
            </div>
        </div>
    </section>

    <div class="social social-main">
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "vkontakte", "class": ""})
        </a>
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "instagram", "class": ""})
        </a>
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "youtube", "class": ""})
        </a>
    </div>
    
</main>

<!--=include partials/footer.html -->