<!--=include partials/header.html -->

<main class="main-catalog">
    <section class="catalog">
        <div class="container">
            <h1 class="title">
                <span>Головные уборы</span>
            </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Главная</a></li>
                <li class="breadcrumb-item active">Головные уборы</li>
            </ol>
        </div>
        <nav class="menu">
            <div class="container">
                <a href="#">Новая коллекция</a>
                <a href="#">Старая коллекция</a>
                <a href="#">Ещё какая-то Коллекция</a>
            </div>
        </nav>
        <nav class="submenu">
            <div class="container">
                <a href="#" class="active">Шапки из норки</a>
                <a href="#">Шапки из трикотажа</a>
                <a href="#">Шапки из мутона</a>
                <a href="#">Шапки-ушанки</a>
                <a href="#">Шапки из других мехов</a>
            </div>
        </nav>
        <div class="filters">
            <div class="filters-header">
                <div class="container">
                    <span>Фильтры</span>
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="filters-content">
                <div class="container">
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">По популярности</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Материалы</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Цвет</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Размер</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Бренд</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Длина</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Длина рукавов</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Размер</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Материалы</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Цвет</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Цвет</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                    <div class="filter">
                        <div class="filter-header">
                            <span data-main="item-1">Цвет</span>
                            @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                        </div>
                        <div class="filter-collapse">
                            <ol class="filter-content">
                                <li data-value="item-1" class="filter-item">По популярности</li>
                                <li data-value="item-2" class="filter-item active">По возрастанию цены</li>
                                <li data-value="item-3" class="filter-item">По убыванию цены</li>
                                <li data-value="item-4" class="filter-item">По новинкам</li>
                                <li data-value="item-5" class="filter-item">По скидкам</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-filter">
            <div class="container">
                <span class="products-filter-four">
                    <span></span>
                    <span></span>
                </span>
                <span class="products-filter-three active">
                    <span></span>
                    <span></span>
                </span>
            </div>
        </div>
        <div class="products-catalog js-products-view productsthree">
            <div class="container">
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-v-1.jpg" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-v-2.jpg" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-v-3.jpg" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-v-4.jpg" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="product-status">
                        <span class="product-status-item discount">-15%</span>
                    </div>
                    <figure class="product-photo">
                        <img src="img/item-first.png" alt="Product First">
                    </figure>
                    <div class="product-main">
                        <div class="product-main-desctop">
                            <button type="button" class="product-main-see">Быстрый просмотр</button>
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <ul class="product-main-list">
                                <li class="product-main-item">
                                    <span class="product-main-property">Фактура</span>
                                    <span class="product-main-value">Текстиль</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Длина</span>
                                    <span class="product-main-value">85</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Размеры</span>
                                    <span class="product-main-value">46 - 54</span>
                                </li>
                                <li class="product-main-item">
                                    <span class="product-main-property">Сезонность</span>
                                    <span class="product-main-value">Демисезонная</span>
                                </li>
                            </ul>
                        </div>
                        <div class="product-main-bottom">
                            <span class="product-main-name">Куртка <span>2682</span></span>
                            <span class="product-main-subtitle">Цена</span>
                            <span class="product-main-old">2 200</span>
                            <span class="product-main-price">1 870 Р</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--=include partials/footer.html -->