<!--=include partials/header.html -->

<main>
    <section class="content">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Верхняя одежда</a></li>
                <li class="breadcrumb-item"><a href="#">Женская коллекция</a></li>
                <li class="breadcrumb-item"><a href="#">Clasna Зима 2019-2020</a></li>
                <li class="breadcrumb-item"><a href="#">Clasna Зима 2019-2020</a></li>
                <li class="breadcrumb-item active">CW19D-9433CW</li>
            </ol>
        </div>
        <div class="content-static">
            <div class="container">
                <h1>H1 / О компании</h1>
                <strong>H2 / Clasna — это безупречное качество, великолепный дизайн, отвечающий последним веяньям моды, практичность, удобство и отличная защита от непогоды, аккуратность в проработках всех мельчайших деталей, натуральный мех, отличнейшая фурнитура, которая так радует глаз</strong>
                <p>Верхняя одежда Clasna предназначена для весны, осени и зимы, а спроектирована с учётом современных климатических условий нашей страны.</p>
                <p>Обратите внимание, в нашем ассортименте присутствует весь набор верхней одежды последнего сезона! И всё это по самым выгодным ценам!</p>
                <p>Мы постоянно расширяем объём наших предложений: добавляем яркие цвета тканей, так любимые молодёжью, для категории постарше — цвета интересные и игривые, не останавливаясь на чёрных и серых тонах; используем натуральный мех на любой вкус, а для защитников животных есть большой выбор моделей без меха и на тинсулейте, так же с каждым годом <a href="#">число моделей</a> в коллекциях у нас постоянно увеличивается, что может удовлетворить даже самых изысканных покупателей.</p>
                <div class="content-group">
                    <figure class="content-frame">
                        <img src="" alt="">
                    </figure>
                    <figure class="content-frame">
                        <img src="" alt="">
                    </figure>
                    <figure class="content-frame">
                        <img src="" alt="">
                    </figure>
                </div>
                <p>Верхняя одежда Clasna предназначена для весны, <a href="#">осени и зимы</a>, а спроектирована с учётом современных климатических условий нашей страны.</p>
                <p>Мы постоянно расширяем объём наших предложений: добавляем яркие цвета тканей, так любимые молодёжью, для категории постарше — цвета интересные и игривые, не останавливаясь на чёрных и серых тонах; используем натуральный мех на любой вкус, а для защитников животных есть большой выбор моделей без меха и на тинсулейте, так же с каждым годом число моделей в коллекциях у нас постоянно увеличивается, что может удовлетворить даже самых изысканных покупателей.</p>
                <h2>СЕГОДНЯ CLASNA ЭТО:</h2>
                <ul>
                    <li>один из признанных лидеров по созданию коллекций одежды в стиле casual, лучшей по соотношению цена-качество</li>
                    <li>более 400 магазинов в 300 городах</li>
                    <li>представительства в 9 странах</li>
                </ul>
            </div>
        </div>
    </section>
    <div class="social social-main">
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "vkontakte", "class": ""})
        </a>
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "instagram", "class": ""})
        </a>
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "youtube", "class": ""})
        </a>
    </div>
</main>

<!--=include partials/footer.html -->