<!--=include partials/header.html -->

<main>
    <section class="products">
        <div class="container">
            <h1 class="title">
                <span>Осень-Зима 2020</span>
            </h1>
            <div class="swiper-container js-init-products-first">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item discount">-15%</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-first.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item new">new</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-second.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item hit">хит</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-third.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <figure class="product-photo">
                                <img src="img/item-fourth.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item new">new</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-second.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item hit">хит</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-third.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <figure class="product-photo">
                                <img src="img/item-fourth.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-arrows">
                <div class="swiper-button-prev js-products-prev-first">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
                <span class="products-button-line"></span>
                <div class="swiper-button-next js-products-next-first">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="container">
            <h2 class="title">
                <span>Демесизон</span>
            </h2>
            <div class="swiper-container js-init-products-second">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item discount">-15%</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-first.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item new">new</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-second.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item hit">хит</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-third.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <figure class="product-photo">
                                <img src="img/item-fourth.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item new">new</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-second.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item hit">хит</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-third.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <figure class="product-photo">
                                <img src="img/item-fourth.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-arrows">
                <div class="swiper-button-prev js-products-prev-second">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
                <span class="products-button-line"></span>
                <div class="swiper-button-next js-products-next-second">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="container">
            <h2 class="title">
                <span>Коллекция 2019</span>
            </h2>
            <div class="swiper-container js-init-products-third">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item discount">-15%</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-first.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item new">new</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-second.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item hit">хит</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-third.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <figure class="product-photo">
                                <img src="img/item-fourth.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item new">new</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-second.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <div class="product-status">
                                <span class="product-status-item hit">хит</span>
                            </div>
                            <figure class="product-photo">
                                <img src="img/item-third.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product">
                            <figure class="product-photo">
                                <img src="img/item-fourth.png" alt="Product First">
                            </figure>
                            <div class="product-main">
                                <div class="product-main-desctop">
                                    <button type="button" class="product-main-see">Быстрый просмотр</button>
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <ul class="product-main-list">
                                        <li class="product-main-item">
                                            <span class="product-main-property">Фактура</span>
                                            <span class="product-main-value">Текстиль</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Длина</span>
                                            <span class="product-main-value">85</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Размеры</span>
                                            <span class="product-main-value">46 - 54</span>
                                        </li>
                                        <li class="product-main-item">
                                            <span class="product-main-property">Сезонность</span>
                                            <span class="product-main-value">Демисезонная</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-main-bottom">
                                    <span class="product-main-name">Куртка <span>2682</span></span>
                                    <span class="product-main-subtitle">Цена</span>
                                    <span class="product-main-old">2 200</span>
                                    <span class="product-main-price">1 870 Р</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-arrows">
                <div class="swiper-button-prev js-products-prev-third">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
                <span class="products-button-line"></span>
                <div class="swiper-button-next js-products-next-third">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="container">
            <h2 class="advantages-title">
                <span><span>Выгодно</span></span>
                <span><span>для</span></span>
                <span><span>оптовиков</span></span>
            </h2>
            <div class="advantages-content">
                <div class="advantage">
                    <span class="advantage-frame">
                        @@include('mixins/svg-icon.html', {"name": "cold", "class": ""})
                    </span>
                    <span class="advantage-caption">Уникальный стиль</span>
                    <p class="advantage-description">Сlasna - это один из признанных лидеров по созданию коллекций одежды в стиле casual собственные дизайн-бюро и производственные офисы</p>
                </div>
                <div class="advantage">
                    <span class="advantage-frame">
                        @@include('mixins/svg-icon.html', {"name": "crown", "class": ""})
                    </span>
                    <span class="advantage-caption">Высочайшее качество</span>
                    <p class="advantage-description">Наши куртки отличаются качественным пошивом, использованием прочных и практичных материалов; только оригинальные дизайнерские решения</p>
                </div>
                <div class="advantage">
                    <span class="advantage-frame">
                        @@include('mixins/svg-icon.html', {"name": "degree", "class": ""})
                    </span>
                    <span class="advantage-caption">Гарантии</span>
                    <p class="advantage-description">При получении товара Вы получите: договор, накладную, необходимые сертификаты, материалы для оформления торговых залов. Бракованный товар подлежит обмену.</p>
                </div>
                <div class="advantage">
                    <span class="advantage-frame">
                        @@include('mixins/svg-icon.html', {"name": "cold", "class": ""})
                    </span>
                    <span class="advantage-caption">Уникальный стиль</span>
                    <p class="advantage-description">Сlasna - это один из признанных лидеров по созданию коллекций одежды в стиле casual собственные дизайн-бюро и производственные офисы</p>
                </div>
                <div class="advantage">
                    <span class="advantage-frame">
                        @@include('mixins/svg-icon.html', {"name": "crown", "class": ""})
                    </span>
                    <span class="advantage-caption">Высочайшее качество</span>
                    <p class="advantage-description">Наши куртки отличаются качественным пошивом, использованием прочных и практичных материалов; только оригинальные дизайнерские решения</p>
                </div>
                <div class="advantage">
                    <span class="advantage-frame">
                        @@include('mixins/svg-icon.html', {"name": "degree", "class": ""})
                    </span>
                    <span class="advantage-caption">Гарантии</span>
                    <p class="advantage-description">При получении товара Вы получите: договор, накладную, необходимые сертификаты, материалы для оформления торговых залов. Бракованный товар подлежит обмену.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="social social-main">
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "vkontakte", "class": ""})
        </a>
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "instagram", "class": ""})
        </a>
        <a href="#" class="social-item">
            @@include('mixins/svg-icon.html', {"name": "youtube", "class": ""})
        </a>
    </div>
</main>

<!--=include partials/footer.html -->