<footer class="footer">
    <div class="container footer-top">
        <a fref="#" class="footer-logotype">
            <img src="img/footer-logotype.png" alt="">
        </a>
        <form action="#" class="footer-post">
            <label class="footer-post-caption" for="email">Подписаться на рассылку</label>
            <div class="footer-post-group">
                <input type="text" name="email" id="email" class="footer-post-input" placeholder="Ваша почта">
                <button class="footer-post-submit">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </button>
            </div>
        </form>
        <nav class="header-nav">
            <a href="#">Как стать клиентом</a>
            <a href="#">Как сделать заказ</a>
            <a href="#">Оплата и доставка</a>
            <a href="#" class="active">О компании</a>
            <a href="#">Контакты</a>
        </nav>
    </div>
    <div class="container footer-bottom">
        <span class="footer-bottom-police">2019 &copy; LAWINTER</span>
        <span class="footer-bottom-politic">Политика конфинденциальности</span>
        <a href="https://oxbox.ru/" class="develop">
            <figure class="develop-frame">
                <img src="img/develop.svg" alt="Develop Oxbox">
            </figure>
            <span class="develop-caption">Разработано в <span>Oxbox</span></span>
        </a>
    </div>
</footer>

<div class="modal js-modal-gallery">
    <div class="modal-container">
        <a href="javascript:void(0);" class="see-prev disabled">
            @@include('mixins/svg-icon.html', {"name": "arrow-gallery", "class": ""})
        </a>
        <a href="javascript:void(0);" class="see-next">
            @@include('mixins/svg-icon.html', {"name": "arrow-gallery", "class": ""})
        </a>
        <div class="modal-body">
            <span class="modal-close"></span>
            <div class="gallery">
                <div class="swiper-container js-init-gallery">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="gallery-frame active">
                                <img src="img/item-second.png" alt="">
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="gallery-frame">
                                <img src="img/item-first.png" alt="">
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="gallery-frame">
                                <img src="img/item-third.png" alt="">
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="gallery-frame">
                                <img src="img/item-fourth.png" alt="">
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="gallery-frame">
                                <img src="img/item-fourth.png" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next js-gallery-next">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
                <div class="swiper-button-prev js-gallery-prev">
                    @@include('mixins/svg-icon.html', {"name": "arrow", "class": ""})
                </div>
            </div>
            <div class="see-main">
                <div class="product-status">
                    <span class="product-status-item new">new</span>
                    <span class="product-status-item hit">хит</span>
                    <span class="product-status-item discount">-15%</span>
                </div>
                <figure class="see-main-frame">
                    <img src="img/item-second.png" alt="">
                </figure>
            </div>
            <div class="see-content">
                <div class="see-header">
                    <span class="see-header-name">Куртка <span>2682</span></span>
                    <span class="see-header-status">В наличии</span>
                </div>
                <div class="see-totat">
                    <span class="see-totat-old">2 200</span>
                    <span class="see-totat-price">1 870 Р</span>
                </div>
                <ul class="see-data">
                    <li class="see-data-item">
                        Длина<span>85</span>
                    </li>
                    <li class="see-data-item">
                        Фактура<span>Текстиль</span>
                    </li>
                    <li class="see-data-item">
                        Сезонность<span>Демисезонная</span>
                    </li>
                    <li class="see-data-item">
                        Размеры<span>XS  S  M  L  XL</span>
                    </li>
                    <li class="see-data-item">
                        Фактура<span>Текстиль</span>
                    </li>
                </ul>
                <div class="see-colors">
                    <span class="see-colors-caption">Выберите цвет</span>
                    <div class="see-colors-list">
                        <figure class="see-colors-frame">
                            <img src="img/item-first.png" alt="">
                        </figure>
                        <figure class="see-colors-frame active">
                            <img src="img/item-second.png" alt="">
                        </figure>
                        <figure class="see-colors-frame">
                            <img src="img/item-third.png" alt="">
                        </figure>
                        <figure class="see-colors-frame">
                            <img src="img/item-fourth.png" alt="">
                        </figure>
                    </div>
                </div>
                <div class="see-count">
                    <span class="see-colors-caption">Укажите количество товара</span>
                    <div class="see-count-group">
                        <span>Размер</span>
                        <input type="text" name="count" value="0">
                        <span>Для всех</span>
                    </div>
                </div>
                <div class="see-size">
                    <div class="see-size-group">
                        <span class="see-size-caption">42</span>
                        <div class="see-size-form">
                            <input type="text">
                            <span class="see-size-placeholder">0</span>
                        </div>
                    </div>
                    <div class="see-size-group">
                        <span class="see-size-caption">44</span>
                        <div class="see-size-form">
                            <input type="text">
                            <span class="see-size-placeholder">0</span>
                        </div>
                    </div>
                    <div class="see-size-group">
                        <span class="see-size-caption">46</span>
                        <div class="see-size-form">
                            <input type="text">
                            <span class="see-size-placeholder">0</span>
                        </div>
                    </div>
                    <div class="see-size-group">
                        <span class="see-size-caption">48</span>
                        <div class="see-size-form">
                            <input type="text">
                            <span class="see-size-placeholder">0</span>
                        </div>
                    </div>
                    <div class="see-size-group">
                        <span class="see-size-caption">50</span>
                        <div class="see-size-form">
                            <input type="text">
                            <span class="see-size-placeholder">0</span>
                        </div>
                    </div>
                    <div class="see-size-group">
                        <span class="see-size-caption">52</span>
                        <div class="see-size-form">
                            <input type="text">
                            <span class="see-size-placeholder">0</span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="search-submit">Купить</button>
            </div>
        </div>
    </div>
</div>

<script src="vendor/swiper/dist/js/swiper.js" inline></script>
<script src="js/script.js$$version$$" inline></script>
</body>
</html>