.footer {
    background-color: $grey;
    padding-top: 50px;
    padding-bottom: 45px;
    background-image: url('../img/background-lawinter-mobile-footer.png');
    background-repeat: no-repeat;
    background-position: right top;
    &-logotype {
        display: none;
    }
    &-post {
        width: 100%;
        display: block;
        padding-bottom: 35px;
        &-caption {
            color: $grey-lighten;
            display: block;
            text-align: center;
            margin-bottom: 15px;
        }
        &-group {
            position: relative;
            width: 90%;
            height: 54px;
            margin: 0 auto;
        }
        &-input {
            background-color: $white-light;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: none;
            padding-left: 20px;
            padding-right: 55px;
            color: $grey;
            &::placeholder {
                color: $grey;
            }
        }
        &-submit {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 15px;
            top: 50%;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: none;
            transform: translateY(-50%);
            background-color: $red-dark;
            svg {
                width: 10px;
                height: 10px;
                fill: $white;
            }
        }
    }
    &-top {
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(192, 202, 218, .2);
    }
    &-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 45px;
        &-police {
            display: inline-block;
            color: $grey-lighten;
            margin-bottom: 20px;
        }
        &-politic {
            display: inline-block;
            color: $white-lightest;
            margin-bottom: 30px;
        }
    }
}

@media #{$sr-580} {

    .footer {
        &-post {
            width: 60%;
            margin: 0 auto;
            &-input {
                width: 100%;
            }
        }
    }
}

@media #{$sr-768} {

    .footer {
        .header-nav {
            order: 2;
            width: 50%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            a {
                display: block;
                width: 50%;
                text-align: left;
            }
        }
        &-logotype {
            order: 1;
        }
        &-post {
            width: 40%;
            order: 3;
            margin: 0;
            &-caption {
                text-align: left;
            }
            &-group {
                width: 100%;
                margin: 0;
            }
        }
        &-top {
            display: flex;
            justify-content: space-between;
        }
        &-bottom {
            flex-direction: row;
            justify-content: space-between;
            &-police {
                margin-bottom: 0;
            }
            &-politic {
                margin-bottom: 0;
            }
        }
    }
}

@media #{$sr-992} {

    .footer {
        padding-bottom: 20px;
        &-bottom {
            padding-top: 20px;
        }
        .header-nav {
            a {
                margin-right: 0;
                &.active {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

@media #{$sr-1300} {

    .footer {
        background-image: url('../img/background-lawinter-footer.png');
        padding-bottom: 40px;
        padding-top: 80px;
        .container {
            max-width: 1260px;
            padding-left: 0;
            padding-right: 0;
        }
        &-logotype {
            display: block;
            width: 195px;
            margin-right: 100px;
        }
        &-top {
            justify-content: flex-start;
            padding-bottom: 40px;
        }
        &-bottom {
            padding-top: 40px;
        }
        &-post {
            width: 260px;
            margin-left: auto;
        }
        .header-nav {
            width: auto;
            margin-top: -15px;
            a {
                color: $grey-lighten;
                width: 40%;
                padding: 12px 0;
                &.active {
                    color: $white;
                }
                &:not(.active):hover {
                    color: $white;
                }
            }
        }
    }
}