.header {
    position: relative;
    display: block;
    width: 100%;
    .container {
        padding: 0;
    }
    &-top {
        position: relative;
        width: 100%;
        &-menu {
            display: none;
            position: absolute;
            top: calc(41px + 47px);
            left: 0;
            right: 0;
            z-index: z('fixed');
            background-color: $grey;
            background-image: url('../img/mobile-menu-bg.png');
            background-repeat: no-repeat;
            background-position: right bottom;
            padding-top: 30px;
            padding-bottom: 150px;
            height: 100vh;
            overflow: auto;
        }
        &-group {
            padding-left: 15px;
            padding-right: 15px;
            background-color: $grey;
            padding-top: 13px;
            padding-bottom: 13px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &-nav {
        a {
            display: block;
            width: 100%;
            text-align: center;
            color: $grey-lighten;
            padding: 12px 0;
            &.active {
                color: $white;
            }
        }
    }
    &-mobile-number {
        display: block;
        width: 100%;
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        color: $white;
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 10px 0;
    }
    &-title {
        position: relative;
        display: block;
        width: fit-content;
        margin: 55px auto 0;
        color: $white;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            height: 7px;
            background-color: $red;
        }
        span {
            position: relative;
            z-index: z('default');
        }
    }
    &-number {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: $white;
        svg {
            width: 14px;
            height: 14px;
            fill: $white-dark;
            margin-right: 8px;
        }
    }
    &-search {
        &-submit {
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            color: $white;
            svg {
                width: 14px;
                height: 14px;
                fill: $white-dark;
                margin-right: 10px;
            }
        }
        &-close {
            display: none;
            width: 15px;
            height: 15px;
            position: relative;
            &:before, &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 2px;
                background-color: $red;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
    &-main {
        &-fixed {
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 47px;
            border-top: 1px solid $white-darken;
            border-bottom: 1px solid $white-darken;
        }
        &-center {
            flex: 1 0 auto;
            height: 100%;
            border-left: 1px solid $white-darken;
            border-right: 1px solid $white-darken;
        }
        &-logotype {
            display: flex;
            align-items: center;
            width: 136px;
            height: 100%;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    &-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 100%;
        margin: 0;
        background-color: transparent;
        border: none;
        span {
            position: relative;
            display: block;
            width: 17px;
            height: 2px;
            background-color: $red;
            &:after, &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                height: 2px;
                background-color: $red;
            }
            &:after {
                top: -5px;
            }
            &:before {
                bottom: -5px;
            }
        }
    }
    &-basket {
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        svg {
            width: 21px;
            height: 21px;
            fill: $red;
        }
        &-count {
            line-height: 18px;
            color: $grey-light;
            margin-left: 8px;
        }
        &-empty {
            display: none;
            margin-left: 8px;
        }
    }
}

// ~ Поведение поиска

.searchshow {
    .header {
        &-search-submit {
            animation-duration: 0.4s;
            animation-name: searchshow-submit;
            opacity: 0;
            pointer-events: none;
            @keyframes searchshow-submit {
                0% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }
        }
        &-search-close {
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            animation-duration: 0.6s;
            opacity: 1;
            animation-name: searchshow-close;
            @keyframes searchshow-close {
                0% {
                    opacity: 0;
                    right: 30px;
                }
                100% {
                    opacity: 1;
                    right: 15px;
                }
            }
        }
    }
}

.searchhide {
    .header-top-group {
        overflow: hidden;
    }
    .header {
        &-search-submit {
            animation-duration: 0.4s;
            animation-name: searchhide-submit;
            opacity: 1;
            @keyframes searchhide-submit {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
        &-search-close {
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            animation-duration: 0.6s;
            opacity: 0;
            visibility: hidden;
            animation-name: searchhide-close;
            @keyframes searchhide-close {
                0% {
                    visibility: visible;
                    opacity: 1;
                    right: 15px;
                }
                100% {
                    visibility: visible;
                    opacity: 0;
                    right: -30px;
                }
            }
        }
    }
}

// ~ Поведение фиксированной шапки при скролле

.scrollwindow {

    .header-top-group {
        margin-bottom: 47px;
    }

    .header-main-fixed {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: z('fixed');
    }

    .header-top-menu {
        position: fixed;
        top: 41px;
    }
}

// ~ Поведение меню при клике

.showmenu {
    .header-top-menu {
        display: block;
        animation-name: showmenu;
        animation-duration: 0.5s;
        @keyframes showmenu {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}

.hidemenu {
    .header-top-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        animation-name: hidemenu;
        animation-duration: 0.3s;
        @keyframes hidemenu {
            0% {
                visibility: visible;
                opacity: 1;
            }
            100% {
                visibility: visible;
                opacity: 0;
            }
        }
    }
}

@media #{$sr-992} {

    .header {
        &-top {
            background-color: $grey;
            .container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 20px;
                padding-right: 20px;
            }
            &-menu {
                display: flex;
                align-items: center;
                position: static;
                overflow: visible;
                height: auto;
                padding: 0;
                background-image: none;
                z-index: z('default');
                background-color: transparent;
                flex: 1 0 auto;
            }
            &-group {
                background-color: transparent;
                width: auto;
                display: flex;
                justify-content: flex-start;
                padding: 0;
            }
            .social {
                display: none;
            }
        }
        &-nav {
            display: flex;
            align-items: center;
            a {
                position: relative;
                color: $white;
                width: auto;
                padding: 15px 0;
                margin-right: 20px;
                transition-duration: 0.5s;
                &:not(.active):hover {
                    color: $grey-lighten;
                }
                &:last-child {
                    margin-right: 0;
                }
                &.active {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 2px;
                        background-color: $white;
                    }
                }
            }
        }
        &-number {
            margin-right: 40px;
        }
        &-title {
            margin-top: 0;
        }
        &-mobile-number {
            display: none;
        }
        &-main {
            position: relative;
            background-color: $white;
            border-bottom: 1px solid transparent;
            transition-duration: 0.3s;
            .container {
                padding: 30px 20px;
            }
            &-fixed {
                background-color: transparent;
                border: none;
            }
            &-center {
                border: none;
                flex: 0;
            }
        }
        &-toggle {
            display: none;
        }
        &-basket {
            width: auto;
            &-empty {
                display: block;
                color: $grey-light;
            }
        }
    }

    .searchshow {
        .header {
            &-search-submit {
                animation-name: none;
                pointer-events: visible;
                opacity: 1;
            }
            &-search-close {
                display: none;
            }
        }
    }

    .searchhide {
        .header-top-group {
            overflow: visible;
        }
        .header {
            &-search-submit {
                animation-name: none;
            }
            &-search-close {
                animation-name: none;
            }
        }
    }

    .header-main-logotype {
        transition-duration: 0.5s;
    }

    .scrollwindow {
        .header-main-logotype {
            width: 125px;
        }
        .header-top {
            margin-bottom: 109px;
            &-group {
                margin-bottom: 0;
            }
            &-menu {
                position: static;
            }
        }
        .header-main {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            z-index: z('fixed');
            border-color: $white-lightest-other;
            &-fixed {
                position: static;
            }
            .container {
                padding: 15px 20px;
            }
        }
    }
}

@media #{$sr-1300} {

    .header {
        &-main {
            &-logotype {
                width: 195px;
            }
        }
        &-nav {
            a {
                font-size: 13px;
            }
        }
        &-search {
            &-submit {
                font-size: 13px;
            }
        }
    }

    .scrollwindow {
        .header-main-logotype {
            width: 150px;
        }
    }
}