.card {
    padding-bottom: 50px;
    &-main {
        display: flex;
        padding-bottom: 55px;
        border-bottom: 1px solid #dddee4;
    }
    &-content {
        padding: 33px 90px 70px;
        border: 1px solid #dddee4;
        position: relative;
        .products-arrows {
            position: absolute;
            top: 30px;
            right: 0;
        }
    }
    .see-header {
        width: fit-content;
        &-status {
            margin-left: 28px;
        }
    }
    &-description {
        padding-top: 40px;
        strong {
            font-size: 13px;
            color: $grey-dark;
            font-weight: 600;
            line-height: 31px;
        }
        p {
            color: $grey-dark;
            font-size: 13px;
            margin-bottom: 25px;
            line-height: 28px;
        }
        a {
            font-size: 13px;
            color: #fb4d4f;
        }
    }
}