.advantages {
    background-color: $grey;
    padding-top: 50px;
    padding-bottom: 70px;
    &-title {
        font-size: 44px;
        color: $white-lighten;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        & > span {
            width: fit-content;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 4%);
                right: 0;
                bottom: 0;
                height: 11px;
                background-color: $red-dark;
                z-index: z('default');
            }
            span {
                position: relative;
                z-index: z('title');
            }
        }
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media #{$sr-640} {

    .advantages {
        &-title {
            position: relative;
            display: inline-block;
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: calc(100% - 2%);
                right: 0;
                bottom: 0;
                height: 11px;
                background-color: $red-dark;
                z-index: z('default');
            }
            & > span {
                &:after {
                    display: none;
                }
            }
        }
    }
}

@media #{$sr-1300} {

    .advantages {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 70px;
        .container {
            background-color: $grey;
            padding: 90px 85px 30px;
            max-width: 1260px;
        }
    }
}