.gallery {
    position: relative;
    display: block;
    width: 90px;
    margin-right: 10px;
    height: 651px;
    padding: 45px 0;
    .swiper-container {
        height: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        width: 26px;
        height: 26px;
        left: 50%;
        transform: translateX(-50%);
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .swiper-button-next {
        top: 5px;
        svg {
            transform: rotate(-90deg);
        }
    }
    .swiper-button-prev {
        top: auto;
        bottom: 5px;
        svg {
            transform: rotate(90deg);
        }
    }
    &.minfifthswipe {
        padding: 0;
        height: 552px;
        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }
    &-frame {
        width: 100%;
        height: 130px;
        background-color: rgba(255, 255, 255, 0.1);
        background-image: linear-gradient(to top, $white-light 0%, $white 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        border: 0px solid transparent;
        transition-duration: 0.3s;
        &.active {
            border: 3px solid $red-dark;
        }
    }
}

.see {
    &-prev,
    &-next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 89px;
        height: 89px;
        cursor: pointer;
        &.disabled {
            svg {
                fill: $white-lightest-second;
            }
        }
        svg {
            width: 100%;
            height: 100%;
            fill: $red-dark;
            transition-duration: 0.5s;
        }
    }
    &-prev {
        left: -95px;
    }
    &-next {
        right: -95px;
        svg {
            transform: rotate(180deg);
        }
    }
    &-main {
        position: relative;
        &-frame {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 450px;
            height: 651px;
            background-color: rgba(255, 255, 255, 0.1);
            background-image: linear-gradient(to top, $white-light 0%, $white 100%);
            &.animate-show {
                img {
                    animation-name: animate-show-main;
                    animation-duration: 1s;
                    @keyframes animate-show-main {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &-content {
        width: calc(100% - 550px );
        padding-left: 40px;
    }
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
        &-name {
            color: $grey-dark;
            font-size: 24px;
            display: flex;
            align-items: center;
            span {
                color: $grey-light;
                margin-left: 5px;
            }
        }
        &-status {
            font-size: 11px;
            text-transform: uppercase;
            color: $green;
        }
    }
    &-totat {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &-old {
            color: $grey-light;
            text-decoration: line-through;
            font-size: 16px;
        }
        &-price {
            font-size: 24px;
            color: $red-dark;
            margin-left: 10px;
        }
    }
    &-data {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        &-item {
            color: $grey-light;
            font-size: 12px;
            line-height: 24px;
            span {
                color: $grey-dark;
                margin-left: 5px;
            }
        }
    }
    &-colors {
        margin-bottom: 24px;
        &-caption {
            display: block;
            color: $grey-light;
            font-size: 14px;
            margin-bottom: 10px;
        }
        &-list {
            display: flex;
            align-items: flex-start;
        }
        &-frame {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 63px;
            height: 91px;
            background-color: rgba(255, 255, 255, 0.1);
            background-image: linear-gradient(to top, $white-light 0%, $white 100%);
            margin-right: 10px;
            padding: 8px;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                border: 2px solid $red-dark;
            }
        }
    }
    &-count {
        margin-bottom: 10px;
        &-group {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $grey-dark;
            input {
                font-size: 16px;
                width: 42px;
                height: 32px;
                text-align: center;
                color: $grey-light;
                border: none;
                background-color: $white;
                margin: 0 10px;
                &::placeholder {
                    font-size: 16px;
                    color: $grey-light;
                }
            }
        }
    }
    &-size {
        display: flex;
        flex-wrap: wrap;
        width: 264px;
        margin-right: -2px;
        margin-bottom: 30px;
        &-group {
            display: flex;
            flex-direction: column;
            margin-right: 2px;
            width: 42px;
            margin-bottom: 2px;
            input {
                position: relative;
                z-index: z('default');
                display: block;
                width: 100%;
                height: 100%;
                border: none;
                text-align: center;
                font-size: 16px;
                color: $red-dark;
                padding: 0 10px;
                background-color: transparent;
                &::placeholder {
                    font-size: 16px;
                    color: $grey-light;
                }
                &:focus + .see-size-placeholder {
                    opacity: 0;
                }
            }
        }
        &-form {
            position: relative;
            width: 100%;
            height: 32px;
            background-color: $white;
            &:hover {
                .see-size-placeholder {
                    opacity: 0;
                    transition-duration: 0.1s;
                }
            }
            &.formactive {
                .see-size-placeholder {
                    opacity: 0;
                }
            }
        }
        &-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            font-size: 16px;
            color: $grey-light;
            transition-duration: 0.3s;
        }
        &-caption {
            width: 100%;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            font-size: 16px;
            color: $grey-dark;
            transition-duration: 0.5s;
            margin-bottom: 2px;
        }
    }
}