
.products {
    padding-bottom: 45px;
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    &-arrows {
        position: relative;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .swiper-button-prev, 
        .swiper-button-next {
            padding: 0 20px;
            svg {
                width: 19px;
                height: 19px;
            }
        }
        .swiper-button-prev {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    &-button-line {
        background-color: $grey-lightest-second;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
        height: 25px;
    }
}

@media #{$sr-992} {

    .products {
        margin-bottom: 20px;
        .container {
            position: relative;
            padding-left: 20px;
            padding-right: 20px;
        }
        &-arrows {
            position: absolute;
            right: 0;
            top: 0;
            height: 26px;
            margin-top: 0;
        }
    }
}