.content {
    &-static {
        background-color: $white;
        padding-top: 30px;
        padding-bottom: 30px;
        h1 {
            display: block;
            text-align: center;
            font-size: 24px;
            color: $grey-darken;
            padding-bottom: 20px;
            font-weight: 700;
        }
        h2 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            color: $grey-dark;
            margin-top: 30px;
            margin-bottom: 15px;
        }
        a {
            color: $red-dark;
        }
        strong {
            display: block;
            color: $grey-dark;
            font-size: 21px;
            line-height: 31px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        p {
            color: $grey-dark;
            font-size: 14px;
            line-height: 28px;
            margin-bottom: 15px;
        }
        li {
            font-size: 14px;
            line-height: 28px;
            color: $grey-dark;
            &:before {
                content: '—';
                color: $red;
                margin-right: 5px;
            }
        }
    }
    &-group {
        margin-bottom: 15px;
    }
    &-frame {
        display: block;
        width: 100%;
        height: 274px;
        background-color: #eee;
        margin-bottom: 10px;
        img {
            @include object;
        }
    }
}

@media #{$sr-768} {

    .content {
        &-group {
            display: flex;
            flex-wrap: wrap;
        }
        &-frame {
            width: calc(100% / 3 - 10px);
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media #{$sr-992} {

    .content {
        &-static {
            padding-top: 0;
            background-color: transparent;
            .container {
                max-width: calc(992px - 40px);
                background-color: $white;
                padding: 60px 90px;
            }
            h1 {
                padding-bottom: 50px;
            }
            h2, strong, p {
                margin-bottom: 25px;
            }
            h2 {
                margin-bottom: 15px;
            }
        }
        &-group {
            margin-bottom: 25px;
        }
    }
}

@media #{$sr-992} {

    .content {
        &-static {
            .container {
                max-width: calc(1300px - 40px);
            }
        }
    }
}