html, body {
    height: 100%;
}

body {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white-light;
    &.modal--open {
        width: 100vw;
        height: 100vw;
        overflow: hidden;
    }
}

.header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
    padding-top: 25px;
    background-image: url('../img/background-lawinter-mobile.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.footer {
    flex: 0 0 auto;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    span {
        color: $grey-dark;
        font-size: 26px;
        font-weight: 600;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 3px;
            height: 11px;
            background-color: $azure;
            z-index: z('below');
        }
    }
}

.swiper-button-prev, 
.swiper-button-next {
    position: static;
    margin-top: 0;
    opacity: 1;
    background-image: none;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    svg {
        transition-duration: 0.5s;
        fill: $red;
    }
    &.swiper-button-disabled {
        opacity: 1;
        svg {
            fill: $grey-lightest-second;
        }
    }
}

@media #{$sr-992} {

    main {
        padding-top: 50px;
    }

    .title {
        width: auto;
        margin-bottom: 45px;
        padding-bottom: 0;
        text-align: left;
    }

    body {
        &:after {
            content: '';
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: z('back');
            opacity: 0;
            transition-duration: 0.5s;
        }
        &.categoryback {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .container {
        max-width: 992px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media #{$sr-1300} {

    main {
        background-image: url('../img/background-lawinter.png');
        &.main-catalog {
            padding-top: 35px;
        }
    }

    .container {
        max-width: 1300px;
    }
}