// @~ Media

$sr-480: "screen and (min-width: 480px)";
$sr-580: "screen and (min-width: 580px)";
$sr-640: "screen and (min-width: 640px)";
$sr-768: "screen and (min-width: 768px)";
$sr-992: "screen and (min-width: 992px)";
$sr-1300: "screen and (min-width: 1300px)";

// @~ Colors

// @color-main--lightest:
// @color-main--lighten:
// @color-main--light:
// @color-main--dark:
// @color-main--darken:
// @color-main--darkest:

$white: white;
$white-dark: #abe6ec;
$white-darken: #dde0e6;
$white-light: #f2f4f7;
$white-light-other: #dddee4;
$white-lighten: #fdfdfe;
$white-lightest: #f4f6f8;
$white-lightest-other: #edf2f7;
$white-lightest-second: #fefefe;;

$grey: #37485f;
$grey-light: #8788a2;
$grey-lighten: #c0cada;
$grey-lighten-other: #c9d3e4;
$grey-dark: #303e4e;
$grey-darken: #252c30;
$grey-lightest-second: #909aab;

$yellow: #ffde00;

$azure: #abe6ec;
$azure-dark: #3cb8d0;

$green: #63ce6a;

$red: #fb4d4f;
$red-dark: #fb4e50;
$red-darken: #37485f;

$blue-dark: #0d1143;

// @~ Fonts

$montserrat: "Montserrat", sans-serif, arial;
$baloo: "Baloo", sans-serif, arial;

// @~ z-indexes: Example: z-index: z('moda');

$z-indexes: (
    'modal': 5000,
    'dwopdown': 2000,
    'fixed': 4000,
    'hide': -4000,
    'back': 40,
    'default': 1,
    'title': 2,
    'below': -1
);

@function z($layer) {
    @return map-get($z-indexes, $layer);
}

// @~ Mixins

// ~ Example: @include images('url', cover, center, no-repeat);

@mixin images($url, $size: cover, $position: center, $repeat: no-repeat) {
    background-image: url($url);
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

@mixin object() {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@mixin absolute() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}